html,
body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f5f8fa;
  font-family: 'Rubik';
  font-weight: 300;
}

.header {
  background: #e1eaf1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 8px solid #323c45;
  height: 160px;
  box-sizing: border-box;
}

.actions {
  display: flex;
  flex-grow: 1;
}

.title {
  font-size: 28px;
  width: 100%;
  padding: 16px;
  border-bottom: 4px solid #323c45;
}

.navigation {
  border-right: 4px solid #323c45;
}

.navigation,
.scrollDirection {
  width: 50%;
  padding: 16px;
}

.scrollDirection .value {
  font-weight: bold;
}

.navigationList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigationItem {
  padding-bottom: 8px;
}

.exampleContainer {
}
